[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

bcrypt = "*"
flask = "*"
future = "*"
gunicorn = "*"
marshmallow-jsonapi = "*"
marshmallow-sqlalchemy = "*"
"psycopg2" = "*"
pymysql = "*"
sqlalchemy = "*"
sqlalchemy-continuum = "*"


[dev-packages]

alembic = "*"
pylint = "*"
pytest = "*"


[requires]

python_version = "3.6.4"
